@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Noto sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#800000, #DCAE96);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 5%;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
}
header a{
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
}

#footer {
    background-color: transparent;
    color: #800000;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 16px;
}

.logo {
    font-size: 2rem;
    color: #fff;
    user-select: none;
}

nav {
    height: 60px;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

nav a {
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 2rem;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background: #DCAE96;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

nav .home-link {
    margin-right: 10px;
}

nav svg {
    fill: #fff;
}

#sidebar-active {
    display: none;
}

.open-sidebar-btn, .close-sidebar-btn {
    display: none;
}

nav .btnLogin {
    width: 8rem;
    height: 2.5rem;
    background: transparent;
    border: 2px solid #DCAE96;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    margin-left: 2rem;
    transition: .5s;
}

nav .btnLogin:hover {
    background: #DCAE96;
    color: #fff;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px solid #DCAE96;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .75s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #DCAE96;
    font-size: 2em;
    color: #800000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #800000;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #DCAE96;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 150;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #800000;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #DCAE96;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #800000;
    margin-right: 3px;
}

.remember-forgot a {
    color: #800000;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #800000;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.btn:hover {
    background: #AE0000;
}

.btn:active {
    background: #DC0000;
}

.icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #DCAE96;
    font-size: 2em;
    color: #800000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.wrapper .login-register {
    position: relative;
    color: #fff;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

.wrapper .login-register a {
    text-decoration: none;
    color: #800000;
}

.wrapper .login-register a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 200px;
        background-color: transparent;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-btn, .close-sidebar-btn {
        padding: 20px;
        display: block;
    }

    #sidebar-active:checked ~ .links-container {
        right: 0;
    }

    #sidebar-active:checked ~ .links-container:hover {
        background-color: #800000;
    }

    #sidebar-active:checked ~ .open-sidebar-btn {
        display: none;
    }

    #sidebar-active:checked ~ #overlay {
        background-color: transparent;
        backdrop-filter: blur(3px);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    nav .btnLogin {
        width: 6rem;
        height: 2rem;
        font-size: 0.9rem;
        margin-left: 1rem;
    }

    .wrapper {
        width: 50%;
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 200px;
        background-color: transparent;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-btn, .close-sidebar-btn {
        padding: 20px;
        display: block;
    }

    #sidebar-active:checked ~ .links-container {
        right: 0;
    }

    #sidebar-active:checked ~ .links-container:hover {
        background-color: #800000;
    }

    #sidebar-active:checked ~ .open-sidebar-btn {
        display: none;
    }

    #sidebar-active:checked ~ #overlay {
        background-color: transparent;
        backdrop-filter: blur(3px);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    nav .btnLogin {
        width: 6rem;
        height: 2rem;
        font-size: 0.9rem;
        margin-left: 1rem;
    }

    .wrapper {
        width: 90%;
        height: 400px;
    }

    #footer {
        font-size: 14px;
        padding: 10px 0;
    }
}
